@model Turista
@{
    ViewData["Title"] = "Tourist Bay";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <h1>Bienvenido, @Model.NombreCompleto()</h1>
        <button class="btn btn-primary">Comprar vuelo</button>
        <a asp-controller="Hotel" asp-action="index" class="btn btn-primary">Reservar hotel</a>
    </body>
</html>